.nit{
    margin-top: 20px;
}
.ogri{
    position:relative;
    margin-top: 200px;
}
.card{
    width: 18rem;
    height: 18rem;
    align-items: center;
}
.judge{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.judges{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.Event-info{
   
    text-align: center
}
.Event-info ul li{
    
    text-decoration: none;
    list-style:none;
    
}
.Event-header{
    display: flex;
    align-items: center;
}
@media(max-width:415px) {
    .card{
        width: 7rem;
        height: 15rem;
        align-items: center;
    }
    /* .judges{
      
        align-items: center;
        display:flex;
         flex-direction: column; 
    } */
}
/* @media(max-width:(415px,1000px)) {
    .card{
        width: 7rem;
        height: 10rem;
        align-items: center;
    }
} */