
/**{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
} */
/* 
.bodyy{
 
    
    min-height: 100vh;
 
    margin-top: 50px;
    margin-left: 34%;
    align-items: center;
    justify-content: center;
    align-items: center;
    
}

.box{
    position: absolute;
    
    width: 40%;
    height: 100%;

    font-family: 'Heebo', sans-serif;
    padding:3px 10px;
    border: 4px solid #0dcaf0;
    border-radius: 8px;
    background-color: white;
}



.heading{

    align-items: center;
    text-align: center;
 
    justify-content: space-around;
    font-size: larger;
}
.heading>img{
    max-width: 75px;
    max-height: 75px;
} 
 .heading>p{
    margin: 0px 0px;
} 
.flexing{
    display: flex;
    justify-content: space-between;
}
.flexing2{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content:right;
   
}

 .mbtn{
    border: 2px solid white;
    background-color:#0dcaf0;
    width: 100%;
    text-align: center;
    margin: 3px 0px;
} 

@media only screen and (max-width: 600px) {
    .box{
        width: 95%;
        height: 70%;
    }
     .heading>p{
        font-size: medium;
    } 
    .flexing{
        flex-direction: column;
    }
    .flexing>span{
        margin: 3px 0px;
    }
}

@media only screen and (min-width: 600px) and (max-width:767px) {
    .box{
        width: 90%;
    }
    .flexing{
        flex-direction: column;
    }
     .heading>p{
        font-size: large;
    } 
    .flexing>span{
        margin: 3px 0px;
    }
}

@media only screen and (min-width: 768px)and (max-width:900px) {
    .box{
        width: 55%;
    }
    .flexing{
        flex-direction: row;
    }
    .flexing>span{
        margin: 0px 0px;
    }

    .heading>p{
        font-size: larger;
    } 
    .heading{
        flex-direction: row;
    }


} */
/* @media only screen and (min-width: 1200px) {
    .box{
        width: 480px;
    }
}  */
.bodyy{
    justify-content: center;
    align-items: center;

}
.event-list{
    display: flex;
    justify-content: space-evenly;
}
/* .box{
    text-align: center;
} */
.box{position: absolute;
    
/* width: 40%;
height: 10%; */
width: 40%;
height: 100%;
margin: 0px auto;
justify-content: center;
font-family: 'Heebo', sans-serif;
padding:3px 10px;
border: 4px solid #0dcaf0;
border-radius: 8px;
background-color: white;
}