 /* .event{
    text-align: center;
    margin-top: 50px;
}
.event-card{
    width: 18rem;
    height: 15rem;

}
.event-list{
    margin-top: 40px;
    justify-content: space-evenly;
          
  
}*/


/*@media (max-width:415px){
    .event-list{
 
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
      
    }
    .card{
        margin: 20px;
    }

} */
.registerationpage{
    margin-top: 50px;
    justify-content: space-evenly;
    text-align: center;
 
}
@media (max-width:415) {
    .registerationpage{
        justify-content: space-evenly;
        text-align: center;
        display: flex;
        flex-direction: column;
      
    }   
}